.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
}

.modal header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal h3 {
    color: var(--main-color-dark);
}

.modal span {
    background-color: var(--sec-color-light);
    align-self: center;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 50%;
}

.modal p {
    color: var(--sec-color-dark);
}

.modal button {
    background-color: var(--main-color-light);
}