.section-header{
    padding-top: 130px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.section-posts{
    width: 65%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.post{
    width: 70%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.post-header{
    display: flex;
    gap: 1rem;
}

.post-header > img{
    width: 52px;
    height: 52px;
    border-radius: 50px;
}

.post-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    margin-bottom: 20px;
}

.post-title > h2{
    font-size: 1.2rem;
}

.post-title > p{
    font-size: 0.9rem;
}

.postagens{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 20px;

}
.post-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-content > h2{
    font-size: 1.5rem;
    line-height: 2rem;
}

.post-content > p{
    line-height: 1.5rem;
    margin-bottom: 20px;
}

.post-botoes{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 35px;
}

.post-botoes > img{
    width: 30px;
    height: 25px;
}
.form-post{
    display: flex;
    flex-direction: column;
}

.form-postar{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-sugeridos{  
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-suger{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 300px;
    height: 80px;
}

.user-img > img{
 width: 52px;
 height: 52px;
}

.user-dados {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px 0;
    gap: 0.3rem;
}

.user-dados > h2{
    font-size: 1.2rem;
}

.user-dados > p{
    font-size: 0.8rem;
}

.user-botoes{
    display: flex;
    justify-content: end;
}
.img-logo{
    width: 35px;
}
.conteudo-post{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.div-sugestoes{
    width: 30%;
}
@media(max-width: 800px){
    .section-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    /*width: 100vw;*/
}
.post{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.div-sugestoes{
    width: 100%;
}
.user-sugeridos{  
    display: flex;
    text-align: center;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
}
}